@model List<Auction>


<div class="card-deck">
    @foreach (var auction in Model)
    {
        var lastBidder = "No Bids Yet";
        var bids = auction.Bids;

        if (!bids.Count().Equals(0))
        {
            lastBidder = bids.OrderByDescending(a => a.Time).First().AspNetUser.UserName;
        }

        <div class="col-sm-3 mt-4">
            <div class="card">
                <div class="card-header bg-transparent border-success">
                    @Html.ActionLink(auction.Name, "Auction", "Home", new { Id = auction.Id }, null)
                </div>
                <img class="card-img-top" src="http://via.placeholder.com/277x200" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">@auction.PriceNow</p>
                    <p class="card-text">@lastBidder</p>
                    <h5 class="card-title">@auction.State</h5>
                    @if(auction.State.Contains("OPEN"))
                    {
                        <button id="btnSubmit" class="btn btn-primary btn-sm" data-target="#myModal" data-toggle="modal">Bid</button>
                    }
                    else
                    {
                        <button id="btnSubmit" class="btn btn-primary btn-sm disabled" data-target="#myModal" data-toggle="modal" disabled>Bid</button>
                    }

                    @*<input class="btn btn-primary btn-sm" type="button" title="Bid" value="Bid2" data-target="#myModal" data-toggle="modal" disabled=""/>*@
                    @*@Html.ActionLink("Bid", "ModalAction", "Home", new { auctionId = auction.Id, auctionName = auction.Name, auctionPriceNow = auction.PriceNow }, new { data_target = "#myModal", data_toggle = "modal" })*@
                    @*<input type="button" 
                           title="Bid" 
                           value="Bid" 
                           onclick="location.href='@Url.Action("ModalAction", "Home", new { auctionId = auction.Id, auctionName = auction.Name, auctionPriceNow = auction.PriceNow })'"  
                           data-target="#myModal" 
                           data-toggle="modal" />*@    
                </div>
                <div class="card-footer">
                    <small class="text-muted">@DateTime.Now.ToShortTimeString()</small>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade hidden-print" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content"> 
                    @Html.Partial("BidModal", new AuctionsWeb.Models.BidModalModel(auction.Id, auction.Name, auction.PriceNow))
                </div>
            </div>
        </div>
        
        

    }
</div>





@section scripts {
    @* The normal bootstrap behavior is to only grab the content for the modal once, if you need to pull in different partial views then the data on the modal will have to be cleared.*@
    <script type="text/javascript">
        $(function () {
            console.log("qweqweqwe");
            $('#btnSubmit').click(function () {
                console.log("asdasdasdasdasd");
                var id = $(this).data('auctionId');
                var name = $(this).data('auctionName');
                var price = $(this).data('auctionPriceNow');
            });
        });
    </script>
}