@model AuctionsWeb.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
    TempData["auctionId"] = null;

}
<h2>@ViewBag.Title.</h2>
<p class="text-danger">@ViewBag.ErrorMessage</p>


@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MinPrice, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MinPrice, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MaxPrice, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MaxPrice, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MinDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MinDate, "{0:yyyy-MM-ddThh:mm:ss}", new { @class = "form-control", type = "datetime-local" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MaxDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MaxDate, "{0:yyyy-MM-ddThh:mm:ss}", new { @class = "form-control", type = "datetime-local" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.State, "Select state", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.State)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div id="resultDiv"></div>

<div id="myModal" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Partial("BidModal");
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/SignalR/hubs"></script>

    <script type="text/javascript">
        var auctions;
        $(function () {
            var notifications = $.connection.myHub;
            notifications.client.displayStatus = function () {
                console.log("triggered");
                getData();
            };

            $.connection.hub.start().done(function () {
                console.log("connection started");
                setInterval(getData, 1000);
            }).fail(function(error) {
                alert(error)
            });
        });

        function getData() {
            console.log("getData() called");
            var model = $('#resultDiv');
            $.ajax({
                url: '/Home/InflateCards',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    model.empty().append(data);
                }
            });
        }
    </script>
}

